{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="post-container">
            <div class="post-left">
                <div class="post-header">
                    <h1>{{post.title}}</h1>
                    <small>@{{post.author}}</small>
                </div>
                <p>{{post.body}}</p>
            </div>
            
            {% if request.user == post.author %}
                <div class="post-right">
                    <a href="{% url 'post_delete' post.id %}"><img src="{% static '/images/bin.png' %}" alt="Delete"></a>
                    <a href="{% url 'post_update' post.id %}"><img src="{% static '/images/pencil.png' %}" alt="Update"></a>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock content %}